{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section page-title bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>About SinBike</h1>
				<!-- Page Description -->
				<p>A bicycle-sharing system, public bicycle system, or bike-share scheme, is a
                    service in which bicycles are made available for shared use to individuals on a
                    very short term basis. Bicycle sharing began in Europe and now is available in
                    more than 50 countries in the world. In this project, you will bring a new
                    competitor, SinBike, in to Singaporean market. </p>
			</div>
		</div>
	</div>
</section>

<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 pt-4">
				<div class="section-title">
					<h2>Our Team</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{%static 'images/animoji1.png'%}" alt="member-image">
					</div>
					<!-- Name -->
					<h3>Dongmin Seol</h3>
					<!-- Position -->
					<cite>Project Manager</cite>
					<!-- Description -->
					<p>seol002@mymail.sim.edu.sg</p>
				</div>
			</div>
			<div class="col-sm-3">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{%static 'images/animoji3.png'%}" alt="member-image">
					</div>
					<!-- Name -->
					<h3>Nur Aqilah Natassia Fatin</h3>
					<!-- Position -->
					<cite>Developer Advocate</cite>
					<!-- Description -->
					<p>nuranf001@mymail.sim.edu.sg</p>
				</div>
			</div>
			<div class="col-sm-3">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{%static 'images/animoji2.jpg'%}" alt="member-image">

					</div>
					<!-- Name -->
					<h3>Kyaw Thit Lwin</h3>
					<!-- Position -->
					<cite>Developer</cite>
					<!-- Description -->
					<p>kyawtl001@mymail.sim.edu.sg</p>
				</div>
			</div>
            <div class="col-sm-3">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{%static 'images/animoji4.png'%}" alt="member-image">
					</div>
					<!-- Name -->
					<h3>Zhong Gang</h3>
					<!-- Position -->
					<cite>Developer</cite>
					<!-- Description -->
					<p>gzhong002@mymail.sim.edu.sg</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}