{% extends 'base.html' %}
{% block content %}
<!-- Page Title -->
<section class="section page-title bg-gray">
    <div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>You've got some questions?</h1>
				<!-- Page Description -->
				<p>Check out the Frequently Asked Questions below or access our Support Portal!</p>
                <a href="{% url 'support:main' %}" class="btn btn-main-sm">Support Main</a>
			</div>
		</div>
	</div> 
</section>
<!-- FAQ Section -->
<section class="faq section pt-0">
  <div class="contatiner">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="block shadow">
          <!-- Get Started Accordion -->
          <div class="faq-item">
            <!-- Title -->
            <div class="faq-item-title">
              <h2> Getting Started </h2>
            </div>
            <div id="gstAccordion" data-children=".item">
              <!-- Accordion Item 01 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion1">
                    HOW TO USE SINBIKE SERVICES?
                  </a>
                </div>
                <div id="gstAccordion1" class="collapse show accordion-block">
                  <p class="mb-0" id="accord1">
                    Step 1: Download the SinBike app on Google Play.<br>
                    Step 2: Sign up an account with us.<br>
                    Step 3: Top up your SinBike credits (minimum top-up S$10.00).<br>
                    Step 4: Search for the nearest SinBike device on the Sinbike app.<br>
                    Step 5: Scan the QR code on the device to unlock it.<br>
                    Step 6: Enjoy your ride & ride safely.<br>
                    Step 7: Locate your nearest designated parking area (’P’ icon) on the SinBike app.<br>
                    Step 8: End your trip by parking at the designated parking area and manually locking the device.<br>
                    Step 9: Verify your parking by scanning the QR code found at the designated parking area.<br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 02 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion2">
                    HOW MUCH DOES SINBIKE CHARGE?
                  </a>
                </div>
                <div id="gstAccordion2" class="collapse accordion-block">
                  <p>
                    Our rates are S$1.00 per 30 minute block.<br>
                    You will be charged an additional S$1.00 once your ride duration exceeds each 30 minute block.<br>
                    • 14 minute ride duration = S$1.00<br>
                    • 34 minute ride duration = S$2.00<br>
                    • 100 minute ride duration = S$4.00<br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 03 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion3">
                    I AM A FREQUENT USER, IS THERE ANY WAY I CAN SAVE MONEY?
                  </a>
                </div>
                <div id="gstAccordion3" class="collapse accordion-block">
                  <p>
                    If you are a frequent user of SinBike and wish to get the most bang for your buck, you can consider
                    purchasing our SinBike Pass. <br>
                    The SinBike Pass entitles you unlimited free trips per day with each trip not exceeding 30
                    minutes<br>
                    (A charge of S$0.50/30min applies upon exceeding 30 minutes).<br>
                    • 7-Day Pass: S$3.90 <br>
                    • 30-Day Pass: S$9.90 <br>
                    • 90-Day Pass: S$23.00 <br>
                  </p>
                </div>
              </div>
            </div>
            <!-- Account Accordion 04 -->
            <div class="item">
              <div class="item-link">
                <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion4">
                  I PURCHASED A SINBIKE PASS, WHY AM I STILL BEING CHARGED AFTER MY TRIP?
                </a>
              </div>
              <div id="gstAccordion4" class="collapse accordion-block">
                <p>
                  SinBike Pass users are entitled to unlimited trips per day, however each trip is limited to a maximum
                  <br>
                  duration of 30 minutes. A charge of S$0.50/30min will apply should the user exceed the 30-minute trip
                  durition <br>
                </p>
              </div>
            </div>
            <!-- Account Accordion 05 -->
          <div class="item">
            <div class="item-link">
              <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion5">
                WHY IS THE FREE TRIP DURATION FOR THE SINBIKE PASS ONLY 30 MINUTES?
              </a>
            </div>
            <div id="gstAccordion5" class="collapse accordion-block">
              <p>
                As we are a company that prides ourselves as a first mile & last mile transport service <br>
                provider, we strongly believe that 30 minutes is adequate time for you to complete your journey.<br>
              </p>
            </div>
          </div>
          </div>

<!-- Account -->

          <div class="faq-item">
            <!-- Title -->
            <div class="faq-item-title">
              <h2>
                Account
              </h2>
            </div>
            <!-- Account Accordion -->
            <div id="accountAccordion" data-children=".item">
              <!-- Accordion Item 01 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion1">
                    HOW DO I UPDATE MY ACCOUNT NAME?
                  </a>
                </div>
                <div id="accountAccordion1" class="collapse accordion-block">
                  <p>
                    • Login SinBike app <br>
                    • Tap “ACCOUNT” <br>
                    • Tap “EDIT PROFILE”<br>
                    • Enter your updated account name<br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 02 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion2">
                    HOW DO I UPDATE MY PROFILE?
                  </a>
                </div>
                <div id="accountAccordion2" class="collapse accordion-block">
                  <p>
                    • Login SinBike app <br>
                    • Tap “ACCOUNT” <br>
                    • Tap “EDIT PROFILE”<br>
                    • Enter your updated profile <br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 03 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion3">
                    HOW DO I UPDATE MY PASSWORD?
                  </a>
                </div>
                <div id="accountAccordion3" class="collapse accordion-block">
                  <p>
                    • Login SinBike app <br>
                    • Tap “ACCOUNT” <br>
                    • Tap the Image icon <br>
                    • Enter user name and email address <br>
                    • Tap “CHANGE PASSWORD” <br>
                    • Enter old password >Enter new password >Confirm new password <br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 04 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion4">
                    HOW DO I ADD/REMOVE A BANK CARD?
                  </a>
                </div>
                <div id="accountAccordion4" class="collapse accordion-block">
                  <p>
                    • Login SinBike app <br>
                    • Tap “ACCOUNT” <br>
                    • Tap “Wallet” <br>
                    • Add new bank card or Remove a bank card<br>
                  </p>
                </div>
              </div>
              <!-- Accordion Item 05 -->
              <div class="item">
                <div class="item-link">
                  <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion6">
                    I FORGOT MY PASSWORD,WHAT SHOULD I DO?
                  </a>
                </div>
                <div id="accountAccordion5" class="collapse accordion-block">
                  <p>
                    Kindly contact us at “Help Centre” describing to us the payment issues you have encountered. <br>
                    Our support team will investigate and we will get back to you in approximately 3 working days <br>
                    (may vary due to high volume of feedback).<br>
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <!-- Title -->
                <div class="faq-item-title">
                  <h2>
                    Trip
                  </h2>
                </div>
                <!-- Trip Accordion -->
                <div id="tripAccordion" data-children=".item">
                  <!-- Accordion Item 01 -->
                  <div class="item">
                    <div class="item-link">
                      <a data-toggle="collapse" data-parent="tripAccordion" href="#tripAccordion1">
                        WHAT IS INDISCRIMINATE PARKING?
                      </a>
                    </div>
                    <div id="tripAccordion1" class="collapse accordion-block">
                      <p>
                        When a bicycle is not parked in a designated parking area, it will be classified as a case of
                        indiscriminate parking.<br>
                        Do note that designated parking areas appear as a ‘P’ icon on our app. Do remember to scan the QR
                        code <br>
                        found at the designated parking area to avoid getting any parking penalties. The parking QR code
                        <br>
                        can usually be found fixated on the ground or on a nearby wall. <br>
                      </p>
                    </div>
                  </div>
                  <!-- Accordion Item 02 -->
                  <div class="item">
                    <div class="item-link">
                      <a data-toggle="collapse" data-parent="tripAccordion" href="#tripAccordion2">
                        WHY WAS I CHARGED A PENALTY OF S$5.00 FOR INDISCRIMINATE PARKING?
                      </a>
                    </div>
                    <div id="tripAccordion2" class="collapse accordion-block">
                      <p>
                        Users are required to end their trip by parking at designated parking areas and verifying their
                        parking by scanning the QR code <br>
                        found at the designated parking area. The penalty is imposed to deter users from parking
                        indiscriminately, <br>
                        reducing the number of stray bicycles left along the streets. The S$5.00 penalty is also used to
                        account for <br>
                        the costs of relocation and redistribution of our bicycles.<br>
                      </p>
                    </div>
                  </div>
                  <!-- Accordion Item 03 -->
                  <div class="item">
                    <div class="item-link">
                      <a data-toggle="collapse" data-parent="tripAccordion" href="#tripAccordion3">
                        CAN I PAUSE MY TRIPS IN BETWEEN DESTINATIONS?
                      </a>
                    </div>
                    <div id="tripAccordion3" class="collapse accordion-block">
                      <p>
                        No, we do not have a pause function. In the instance that you need to stop your trip abruptly,
                        <br>
                        kindly park your bicycle properly at a designated parking area and verify your parking by scanning
                        <br>
                        the parking QR code found at the designated parking area. <br>
                      </p>
                    </div>
                  </div>

<!-- Others -->

                  <div class="faq-item">
                    <!-- Title -->
                    <div class="faq-item-title">
                      <h2>
                        Others
                      </h2>
                    </div>
                    <!-- Others Accordion -->
                    <div id="othersAccordion" data-children=".item">
                      <!-- Accordion Item 01 -->
                      <div class="item">
                        <div class="item-link">
                          <a data-toggle="collapse" data-parent="othersAccordion" href="#othersAccordion1">
                            WHY AM I UNABLE TO FIND THE PARKING QR CODE AT A DESIGNATED PARKING AREA?
                          </a>
                        </div>
                        <div id="othersAccordion1" class="collapse accordion-block">
                          <p>
                            As the parking QR codes are heavily utilised, and some being exposed to weather conditions,
                            <br>
                            there is a possibility that some of the parking QR codes are damaged or removed due to foul
                            play / vandalism. <br>
                            Note: Do ensure that you are at a designated parking area (’P’ icon on our app), not all
                            yellow boxes in Singapore are designated parking areas. <br>
                            Kindly assist us by ending your trip and park the bicycle in the designated parking area. <br>
                            when prompted to scan the parking QR code. Submit your appeal with a clear photo of the
                            bicycle parked in the designated parking area. <br>
                            In any instance that you are unable to send an appeal via our app, you can send us your appeal
                            at “Help Centre ” <br>
                          </p>
                        </div>
                      </div>
                      <!-- Accordion Item 02 -->
                      <div class="item">
                        <div class="item-link">
                          <a data-toggle="collapse" data-parent="othersAccordion" href="#othersAccordion2">
                            HOW DO I SEND AN APPEAL REGARDING A PARKING PENALTY I RECEIVED?
                          </a>
                        </div>
                        <div id="othersAccordion2" class="collapse accordion-block">
                          <p>
                            If you received a S$5.00 parking penalty due to certain circumstances, you can send us an
                            appeal via our in-app function under the ‘Help Centre’ tab.<br>
                            Kindly select the appropriate category and attach any supporting documents (screenshots of any
                            errors encountered or photos regarding any issues <br>
                            encountered while parking), along with photos of the device being parked properly in a
                            designated parking area.<br>
                            Appeals would normally take approximately 3 working days (may vary due to high volume of
                            feedback) to process. <br>
                          </p>
                        </div>
                      </div>
                      <!-- Accordion Item 03 -->
                      <div class="item">
                        <div class="item-link">
                          <a data-toggle="collapse" data-parent="othersAccordion" href="#othersAccordion3">
                            WHY WAS MY APPEAL REJECTED?
                          </a>
                        </div>
                        <div id="othersAccordion3" class="collapse accordion-block">
                          <p>
                            All appeal cases are investigated by our support team with due diligence. Appeals are rejected
                            when the appeal case is deemed to <br>
                            have insufficient supporting evidence or if the evidence provided does not support the claims
                            of the appeal. <br>
                          </p>
                        </div>
                      </div>
                      <!-- Accordion Item 04 -->
                      <div class="item">
                        <div class="item-link">
                          <a data-toggle="collapse" data-parent="othersAccordion" href="#othersAccordion4">
                            WHAT SHOULD I DO IF I HAD AN EMERGENCY OR MET WITH AN ACCIDENT?
                          </a>
                        </div>
                        <div id="othersAccordion4" class="collapse accordion-block">
                          <p>
                            In the event of an emergency, the user is required to take relevant photos of said accident
                            and submit them along with their appeal. <br>
                            Our support team will investigate and it will normally take approximately 3 working days (may
                            vary due to high volume of feedback) to process.<br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
{% endblock %}