{% extends 'base.html' %}
{% block content %}
<!-- Page Title -->
<section class="section page-title">
    <div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>You've got some questions?</h1>
				<!-- Page Description -->
				<p>Check out the Frequently Asked Questions below or access our Support Portal!</p>
                <a href="{% url 'support:main' %}" class="btn btn-main-sm">Support Main</a>
			</div>
		</div>
	</div> 
</section>
<!-- FAQ Section -->
<section class="faq section pt-0">
    <div class="contatiner">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block shadow">
                    <div class="faq-item">
                        <!-- Title -->
                        <div class="faq-item-title">
                            <h2> Getting Started </h2>
                        </div>
                        <!-- Get Started Accordion -->
                        <div id="gstAccordion" data-children=".item">
                            <!-- Accordion Item 01 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion1">
                                        HOW TO USE SINBIKE SERVICES?
                                    </a>
                                </div>
                                <div id="gstAccordion1" class="collapse show accordion-block">
                                    <p class="mb-0">
                                        Step 1: Download the SinBike app on Google Play.<br>
                                        Step 2: Sign up an account with us.<br>
                                        Step 3: Top up your SinBike credits (minimum top-up S$10.00).<br>
                                        Step 4: Search for the nearest SinBike device on the Sinbike app.<br>
                                        Step 5: Scan the QR code on the device to unlock it.<br>
                                        Step 6: Enjoy your ride & ride safely.<br>
                                        Step 7: Locate your nearest designated parking area (’P’ icon) on the SinBike app.<br>
                                        Step 8: End your trip by parking at the designated parking area and manually locking the device.<br>
                                        Step 9: Verify your parking by scanning the QR code found at the designated parking area.<br>
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 02 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion2">
                                        HOW MUCH DOES SINBIKE CHARGE?
                                    </a>
                                </div>
                                <div id="gstAccordion2" class="collapse accordion-block">
                                    <p>
                                        Our rates are S$1.00 per 30 minute block.<br>
                                        You will be charged an additional S$1.00 once your ride duration exceeds each 30 minute block.<br>
                                        • 14 minute ride duration = S$1.00<br>
                                        • 34 minute ride duration = S$2.00<br>
                                        • 100 minute ride duration = S$4.00<br>
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 03 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion3">
                                      I AM A FREQUENT USER, IS THERE ANY WAY I CAN SAVE MONEY?
                                    </a>
                                </div>
                                <div id="gstAccordion3" class="collapse accordion-block">
                                    <p>
                                      If you are a frequent user of SinBike and wish to get the most bang for your buck, you can consider purchasing our SinBike Pass. <br>
                                      The SinBike Pass entitles you unlimited free trips per day with each trip not exceeding 30 minutes<br>
                                      (A charge of S$0.50/30min applies upon exceeding 30 minutes).<br>
                                      • 7-Day Pass: S$3.90 <br>
                                      • 30-Day Pass: S$9.90 <br>
                                      • 90-Day Pass: S$23.00 <br>  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Account Accordion 04 -->
                        <div class="item">
                          <div class="item-link">
                              <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion4">
                                I PURCHASED A SINBIKE PASS, WHY AM I STILL BEING CHARGED AFTER MY TRIP?
                              </a>
                          </div>
                          <div id="gstAccordion4" class="collapse accordion-block">
                              <p>
                                SinBike Pass users are entitled to unlimited trips per day, however each trip is limited to a maximum <br>
                                duration of 30 minutes. A charge of S$0.50/30min will apply should the user exceed the 30-minute trip durition <br>
                              </p>
                          </div>
                      </div>
                  </div>
					<div class="faq-item">
						<!-- Title -->
						<div class="faq-item-title">
							<h2>
								Account
							</h2>
						</div>
						<!-- Account Accordion -->
						<div id="accountAccordion" data-children=".item">
						  <!-- Accordion Item 01 -->
						  <div class="item">
						  	<div class="item-link">
							    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion1">
							      Item no 1
							    </a>
						  	</div>
						    <div id="accountAccordion1" class="collapse accordion-block">
						      <p>
						        contents
						      </p>
						    </div>
						  </div>
						  <!-- Accordion Item 02 -->
						  <div class="item">
						  	<div class="item-link">
							    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion2">
							      Item no 2
							    </a>
						  	</div>
						    <div id="accountAccordion2" class="collapse accordion-block">
						      <p>
						        contents
						      </p>
						    </div>
						  </div>
						  <!-- Accordion Item 03 -->
						  <div class="item">
						  	<div class="item-link">
							    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion3">
                                Item no 3							    </a>
						  	</div>
						    <div id="accountAccordion3" class="collapse accordion-block">
						      <p>
                                contents
                              </p>
						    </div>
						  </div>
						  <!-- Accordion Item 04 -->
						  <div class="item">
						  	<div class="item-link">
							    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion4">
							      Item no 4
							    </a>
						  	</div>
						    <div id="accountAccordion4" class="collapse accordion-block">
						      <p>
                                contents
                              </p>
						    </div>
						  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}