{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content>
  <meta name="author" content>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <!-- sinbike_CX CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
  {% block content %}
  <div class="section" id="home_main">
    <div class="container">
      <div class="jumbotron">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic" style="color:white;">Sinbike</h1>
          <p class="lead my-3">LETS CYCLE!</p>
        </div>
      </div>
    </div>
    <section class="section pt-0 position-relative pull-top">
      <div class="container">
        <div class="rounded shadow p-5 bg-white">
          <div class="row">
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
              <i class="ti-paint-bucket text-primary h1"></i>
              <h3 class="mt-4 text-capitalize h5 ">NO DEPOSIT</h3>
              <p class="regular text-muted">With no deposits to pay, renting a bicycle with SinBike is simple and fuss free. Gather your friends and cycle the clean and green way in an affordable manner! </p>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
              <i class="ti-shine text-primary h1"></i>
              <h3 class="mt-4 text-capitalize h5 ">CONVENIENT</h3>
              <p class="regular text-muted">
                With thousands of bicycles available around you, SinBike makes getting around to places a lot more convenient!
                <br>You don’t even have to worry about bicycle storage or maintenance! </p>
            </div>
            <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
              <i class="ti-thought text-primary h1"></i>
              <h3 class="mt-4 text-capitalize h5 ">HEALTHY</h3>
              <p class="regular text-muted">Feel the breeze and get your heart pumping! Get some much needed outdoor time by simply heading somewhere with an SinBike for a undiscovered bike view, or even just biking for fun!</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="{% static 'images/nodeposit.jpg' %}" alt="image">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Increase your productivity with Sinbike</h2>
					<!-- Feature Description -->
					<p class="desc">

            ​We offer an essential and sustainable mode of transportation for our changed world.
            <br><br>
            It's faster than walking, more enjoyable than public transport and cheaper than ride-sharing!<br/><br/>
          </p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Let's get started!</h2>
					<!-- Feature Description -->
					<p>Download the SinBike app and create an account.</p>
          <p>Locate available bicycles on the map/physically, scan the bicycle’s QR code to unlock and start riding away!</p>
          <p>Do you have a question? Visit our <a href="{% url 'common:faq' %}">FAQ</a>.</p>
        </div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="{% static '/images/convenient.jpg' %}" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>

</html>